<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Bundestagstracker</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <h1 class="centering mainheader">Bundestagstracker</h1>
</div>
<a th:href="@{/bundestagstracker}"><img th:src="@{/images/logo.png}" class="logo navbar" alt="Logo"></a>
<hr>
<div class="landing-page" >

<h1 class="landing-page--header">Dein Bundestagstracker.</h1>
    <div class="landing-page--subheader">
        <h4>Erhalte einen klaren Überblick über die aktuellen Entscheidungen des Bundestags.</h4>
        <h4>Schnell erfassbar, transparent dargestellt und einfach zugänglich.</h4>
    </div>
</div>
<div>
<div class="container">
    <div class="poll poll--sideelement poll--text">
        <span>Datum</span>
        <span>ID</span>
    </div>
    <div class="poll poll--text poll--mainelement">
        <span>Abstimmung</span>
    </div>

    <div class="poll poll--sideelement poll--text" style="width: 125px;">
        <span>Status</span>
    </div>
</div>

<li th:each="poll : ${polls}" th:object="${poll}">

    <div class="container" > <a class="link" th:href="@{bundestagstracker/chart/{id}(id=${poll.id})}">
        <div class="poll poll--sideelement">
    <span th:text="*{date}"></span>
    <span th:text="*{id}"></span>
        </div>
            <div class="poll poll--mainelement poll--text">
                <span th:text="*{label}"></span>
            </div>
   </a>
    <div class="poll poll--text poll--sideelement"  th:style="*{accepted} ? 'background-color: darkseagreen;' : 'background-color: lightcoral'">
    <span th:text="${poll.accepted} ? 'angenommen' : 'abgelehnt' "></span>
    </div>
    </div>
</li>
</div>
<div class="footer">
    <div class="centering footer" style="display: flex;">
    <a th:href="@{bundestagstracker/info}"><button class="footer-button" onclick="">info</button></a>
    <a href="https://www.abgeordnetenwatch.de/api"><button class="footer-button" onclick="">sources</button></a>
    <img th:src="@{/images/logo.png}" class="logo--alt navbar" alt="Bundestagstracker Logo">
    </div>
</div>
</body>
</html>

