<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Abstimmung Bundestagstracker</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
    <h1 class="centering mainheader">Bundestagstracker</h1>
    </div>
    <a th:href="@{/bundestagstracker}"><img th:src="@{/images/logo.png}" class="logo navbar" alt="Logo"></a>
<hr>

<div th:style="${poll.accepted} ?'background-color: darkseagreen' : 'background-color: lightcoral'"  class="centering full-width">
    <h2 th:text="${poll.label}"></h2>
    <h4 th:text="${poll.date}"></h4>
    <strong><h4 th:text="${poll.accepted} ? ' Status: angenommen' : 'Status: abgelehnt'"></h4></strong>
</div>

<div class="content-row">
<div class="info-container">
    <div><h3 style="font-family: 'Montserrat', sans-serif">Informationen</h3></div>
   <div class="info-content" th:utext="${poll.info}"></div>
</div>

    <div id="chart-container">
        <canvas id="mainChart"> </canvas>
    </div>

<div class="subchartContainer" id="subchartContainer" >
    <canvas id="subChart"></canvas>
</div>
</div>

<div class="footer">
        <div class="centering footer" style="display: flex;">
            <a th:href="@{/bundestagstracker/info}"><button class="footer-button" onclick="">info</button></a>
            <a href="https://www.abgeordnetenwatch.de/api"><button class="footer-button" onclick="">sources</button></a>
            <img class="logo--alt navbar" th:src="@{/images/logo.png}" alt="Bundestagstracker Logo">
        </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>
<script th:inline="javascript">


    const detailedVotes = /*[[${detailedVotes}]]*/ {};
    const overallVotes = /*[[${overallVotes}]]*/ {};

    const totalVotes = overallVotes.yes + overallVotes.no + overallVotes.no_show;

    let voteResults = [overallVotes.yes, overallVotes.no, overallVotes.no_show];


    //central color definition
    const colorMap = {
        'CDU/CSU': '#000000',
        'SPD': '#E3000F',
        'AFD': '#009EE0',
        'BÜNDNIS 90/DIE GRÜNEN': '#4CAF50',
        'DIE LINKE': '#BE3075',
        'FRAKTIONSLOS': '#FFA500'
    };

    // Main Chart
    const mainChart = new Chart(document.querySelector('#mainChart'), {
        type: 'doughnut',
        data: {
            labels: [`Ja (${voteResults[0]})` , `Nein (${voteResults[1]})` ,`Nicht abgestimmt (${voteResults[2]})`],
            datasets: [{
                label: 'Stimmen',
                data: [
                    voteResults[0],
                    voteResults[1],
                    voteResults[2],
                ],
                backgroundColor: [
                    'rgba(15,220,8,0.6)',
                    'rgba(128,0,32,0.9)',
                    'rgba(120,120,120,0.8)'
                ],
                borderColor: '#ffffff'
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            hoverOffset: 15,
            plugins: {
                legend: {
                    position: 'bottom',
                    labels: { padding: 50 }
                }
            }
        },
        plugins: [{
            id: 'hoverPlugin',
            afterEvent(chart, args) {
                const elements = chart.getElementsAtEventForMode(
                    args.event,
                    'nearest',
                    { intersect: true },
                    false
                );

                const container = document.getElementById('subchartContainer');
                const body = document.body;

                if (elements.length) {
                    const label = chart.data.labels[elements[0].index];
                    updateSubChart(label);
                    container.classList.add('visible');
                    body.classList.add('focus-active');
                } else {
                    container.classList.remove('visible');
                    body.classList.remove('focus-active');
                }
            }
        }]
    });

    // Sub Chart
    const subChart = new Chart(document.querySelector('#subChart'), {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
                label: 'Stimmen der einzelnen Fraktionen',
                data: [],
                backgroundColor: []
            }]
        },
        options: {
            responsive: true,
            hoverOffset: 25,
            animation: {
                duration: 600,
                easing: 'easeOutCubic'
            },
            plugins: {
                tooltip: {
                    callbacks: {
                        title: () => '',
                            label: ctx => 'Stimmen: ' + ctx.raw
                        }
                    }
                }
            }
        });

        function updateSubChart(label) {

            const key = {
                 [mainChart.data.labels[0]] : 'yes',
                 [mainChart.data.labels[1]] : 'no',
                 [mainChart.data.labels[2]] : 'no_show',
            }[label];

            const voteData = detailedVotes[key];
            if (!voteData) return;

            const labels = Object.keys(voteData);

            subChart.data.labels = labels;
            subChart.data.datasets[0].data = Object.values(voteData);
            subChart.data.datasets[0].backgroundColor =
                labels.map(p => colorMap[p] || '#888888');

            subChart.update();
        }

    </script>
</body>
</html>