spring.application.name=Bundestagstracker
spring.thymeleaf.cache=false
spring.web.resources.cache.period=0


spring.datasource.url=jdbc:postgresql://localhost:5432/UR_DATABASE
spring.datasource.username=UR_USERNAME
spring.datasource.password=UR_PASSWORD
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true