<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>monkey</title>
</head>

<bocdy>

<h1>Detailed Votes</h1>
    <div th:each="entry : ${detailedVotes}">
        <h3 th:text="${entry.key.partyName}"></h3>

        <ul>
            <li th:each="voteEntry : ${entry.value}">
                <span th:text="${voteEntry.key}"></span>
                <span th:text="${voteEntry.value}"></span>
            </li>
        </ul>

    </div>

<h1>Overall Votes</h1>

<ul>
    <li th:each="entry : ${overallVotes}">
        <span th:text="${entry.key}"></span>
        <span th:text="${entry.value}"></span>
    </li>
</ul>

</bocdy>
</html>